CMS_ADMIN_USER=admin
CMS_ADMIN_PASSWORD=change-this-password
CMS_SESSION_SECRET=change-this-random-secret
CMS_GITHUB_TOKEN=github_pat_xxx
CMS_GITHUB_OWNER=luongminhphuong710-dotcom
CMS_GITHUB_REPO=camnangmasterisepro
CMS_GITHUB_BRANCH=main
CMS_DATA_PATH=site-data.js
